body{
    margin: 0;
}

header{
    background-color: #E8F0F3;
}

header h1{
    color: black;
    font-size: 140px;
    text-align: center;
}

header img{
    border-radius: 75px;
    width: 800px;
    margin: 100px;
}

#container{
    display: flex;
    align-items: center;
}